* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 12px;
    font-family: arial,sans-serif;
    color: #202124;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    color:rgba(0, 0, 0, 0.87);
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover {
    text-decoration: underline;
}

.header-right, .header-left {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.header-right .header-apps {
    margin-right: 10px;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.main-body .google {
    max-height: 100%;
    max-width: 100%;
    /* width: auto; */
}

.google {
    aspect-ratio: auto 272 / 92;
    object-fit: contain;
    height: 85px;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 35px;
    padding-top: 6px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-between;
    transition:ease-out .3s;
    background: #fff;
    float: right;
}

.search-input:hover {
    box-shadow: 0 0 11 px
    rgba(33, 33, 33, .2);
}

.search-input input {
    flex: 1;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    width: 700vw;
}

.search-input .material-icons {
    color: gray;
}

.search-btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-btn button {
    margin: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: #F2F2F2;
}

.spacing{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 250px;
}

.country{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: block;
    font-size: 15px;
}

.closing{
    display: block;
    flex-wrap: wrap;
    /* padding: 0; */
    flex-shrink: 0;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
    min-width: 13vw;
    /* justify-content: space-between; */
}


a:hover {
    text-decoration: underline;
}

.privacyTerms-right, .adBusHow-left, a{
    text-decoration:none;
    color: #70757a;
    display: flex;
    white-space: nowrap;
    /* justify-content: space-between; */
}

.privacyTerms-right, .adBusHow-left{
    padding: 15px;
    /* justify-content: space-evenly; */

}

.adBusHow-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    min-width: 30%;
    justify-content: space-evenly;
    justify-content: flex-start;
    order: 1;
}

.goGreen{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
    width: 100%;
    text-decoration: inherit;
    font-size: 14px;
}

.carbonN {
    order: 0;
    width: 100%;
    height:auto;
    justify-content: center;
    padding: 0;
    align-items: center;
    display: flex;
}

.leaf{
    height: 16px;
    width: 16px;
    background-color: #F2F2F2;
    display: block;
    white-space: nowrap;
}

.privacyTerms-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 30%;
    order: 3;
}

@media only screen and (max-width: 1200px){
.closing {
    justify-content: space-evenly;
}}
